<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPCAA.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WPCAA.WinApp.Properties.Settings>
            <setting name="ApiAddress" serializeAs="String">
                <value>https://wpcaaapi20241020202434-resourcegroup.azurewebsites.net/</value>
            </setting>
            <setting name="ApiAddressProd" serializeAs="String">
                <value>https://wpcaaapi20241020202434-resourcegroup.azurewebsites.net/</value>
            </setting>
            <setting name="ApiAddressLocal" serializeAs="String">
                <value>https://localhost:44332</value>
            </setting>
        </WPCAA.WinApp.Properties.Settings>
    </applicationSettings>
</configuration>